/* Velodados - Paleta de Cores */
:root {
  /* PRIMÁRIAS */
  --color-bg-light: #F3F7FC;
  --color-bg-dark: #272A30;
  --color-blue-dark: #000058;
  --color-blue-primary: #1634FF;
  --color-blue-light: #1694FF;
  
  /* SECUNDÁRIAS (SOMENTE COM AUTORIZAÇÃO PRÉVIA) */
  --color-blue-alt: #006AB9;
  --color-yellow: #FCC200;
  --color-green: #15A237;
}
